#overlay {
    width: 100%; 
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
}

#overlay > * {
    position: absolute;
    z-index: 750;
}

/* HELPER CLASSES >>> */
.center-modal {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.flex-col {
    display: flex;
    flex-direction: column;
}
.pad-med {
    padding: 30px;
}
.bgc-prim {
    background-color:  rgb(194, 240, 208)
}
.border {
    border: 6px solid rgb(78, 194, 132);
    border-radius: 15px;
}
/* <<< HELPER CLASSES */

#darken-map {
    background-color: rgba(35, 45, 40, 0.394);
    width: 100%; 
    height: 100vh;
}
/* ///// TOP-BAR >>>>> */
.top-bar {
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
    width: 400px;
    height: 55px;
    border-width: 0px 6px 6px 6px;
    /* border-top-width: 6px; */
    border-style: none solid solid solid;
    /* border-top-style: solid; */
    border-color: rgb(78, 194, 132);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.game-title {
    line-height: 50px;
    color: rgb(8, 109, 67);
    text-align: center;
}
/* <<<<< TOP-BAR ///// */

/* ///// LOGIN-MODAL >>>>> */
.login-modal {
    align-items: center;
    width: 400px;
    height: 300px;
}
#login-modal-id, #login-modal-email {
    width: 200px;
}
#color-selector {
    display: flex;
    justify-content: center;
}
#color-selector p {
    line-height: 30px;
}
#color-input {
    height: 30px;
    width: 70px;
}
/* <<<<< LOGIN-MODAL ///// */

/* ///// BUTTONS >>>>> */
.button-logout {
    top: 10px;
}
.button-signup {
    top: 45px;
}
.button-logout, .button-signup {
    right: 10px;
}
button, .button {
    width: 120px;
    height: 30px;
    background-color: rgb(0, 97, 76);
    color: white;
}
#loginmodal-buttons {
    display: flex;
    justify-content: center;
}
#toggle-signup-group {
    margin: 10px;
}
#toggle-signup {
    display: block;
    margin: 10px auto;
}
.button-leaderboard {
    bottom: 45px;
    left: 10px;
}
.button-rules {
    bottom: 10px;
    left: 10px;
}
/* <<<<< BUTTONS ///// */
.leaderboard {
    width: 400px;
    height: 700px;
    align-items: center;
}
.rules {
    width: 90vw;
    max-width: 700px;
    height: auto;
}
.rules p {
    font-size: 20px;
    margin-top: 15px;
}